<% @data.data.each do |data| %>
	<tr>
		<td> <%= data.SKUId %> </td>
		<td> <%= data.productName %> </td>
		<td> <%= data.productBrand %> </td>
		<td> <%= data.productCategory %> </td>
		<td> <%= data.productStatus %> </td>
		<td> <%= data.inventoryStatus %> </td>
	</tr>
<% end %>	